/* ********************************** */
/* IMPORTANT FOR MOBILE VISUALIZATION */
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0
}

/* ***************** */
/* IMPORTANT FOR ALL */
*{
    /*border-width: 2px;*/
    /*border-style: solid;*/
    /*border-color: crimson;*/
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 500;
    overflow: auto;
}

/* **************************** */
/* HTML AND BODY SPECIFICATIONS */
html{
    border-color: white;
    padding: 1px;
}
body{
    border-color: white;
}

/* **************** */
/* EACH PRODUCT BOX */
.product{
    /*border-color: black;*/
    margin-top: 60px;
    margin-bottom: 60px;
}

/* **************** */
/* PRODUCT SECTIONS */
.product_name{
    /*border-color: blue;*/
    padding: 20px;
}
.product_description{
    /*border-color: chartreuse;*/
    padding: 10px;
    font-size: 1rem;
}
.image{
    display: block;
    margin-right: 1%;
    margin-left: 1%;
    width: 97%;
}

/* *************************** */
/* PRODUCT DESCRIPTION DETAILS */
.specification{
    padding: 20px 0px 0px 0px;
}
.price_0{
    padding: 20px 0px 0px 0px;    
}
.bold{
    font-weight: bold;
}
.tx_center{
    text-align: center;
}
.tx_right{
    text-align: right;
}
.tx_left{
    text-align: left;
}
.tx_small{
    font-size: small;
}
table{
    width: 100%;
}
.name_format{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    padding: 8px;
    border-radius: 25px 25px 0px 25px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: #808080;
    box-shadow: 5px 5px 0.5px #808080;
}










/*
.bold{
    font-weight: bold;
}

.bold_specification{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.bold_price{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: medium;
}

table.tab{
    border-spacing: 0px 5px;
    margin-top: 0px;
}

p.no_space{
    margin-top: 0px;
    margin-bottom: 5px;
}
*/

/*
table{
    display: block;
    margin-right: 1%;
    margin-left: 1%;
    width: 97%;
}
*/

