@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0
}

*{
    border-width: 2px;
    border-style: solid;
    border-color: crimson;
    margin-right: 0.1%;
    margin-left: 0.1%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 500;
}

.image{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0%;
    width: 98%;

}

.product{
    border-color: black;
}

.product_name{
    border-color: blue;
}
